{{ define "footer" }}
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">&copy; 2014-2015 MorpheusXAUT - <a href="/legal">Legal</a><br />
				All <a href="/legal">EVE related materials</a> are property of <a href="http://www.ccpgames.com/" target="_blank">CCP Games</a> - <a href="/legal">Copyright Notice</a></p>
		</div>
	</footer>

	<script src="/js/bootstrap.min.js?md5={{ index .assetChecksums.Checksums "bootstrap.min.js" }}"></script>
</body>
</html>
{{ end }}
