{{ define "settingsapikeys" }}
{{ template "header" . }}
{{ template "navigation" . }}
<div class="panel panel-info">
	<div class="panel-heading">
		<h3>Manage your API keys</h3>
	</div>
	<div class="panel-body">
		<p>
			You can use this page to manage the EVE Online API keys associated with your account.<br />
			eveauth only requires a blank API key for now (access mask 0), however this requirement may change in the future as additional features get implemented.<br />
			Please generate a new API key for this application (e.g. by following <a href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=0" target="_blank">this link</a>) and do not re-use an old API key for security reasons. Please create your API key with the type "Character" and all characters selected.
		</p>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Existing API keys</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Key ID</th>
					<th>Verification Code</th>
					<th>Access Mask</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{ range $account := .accounts }}
					<tr>
						<td>{{ $account.ID }}</td>
						<td>{{ $account.APIKeyID }}</td>
						<td>{{ $account.APIvCode }}</td>
						<td>{{ $account.APIAccessMask }}</td>
						<td><a class="btn btn-primary api-key-edit">Edit</a>&nbsp;<a class="btn btn-danger api-key-delete">Delete</a></td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
</div>
<div class="panel panel-success">
	<div class="panel-heading">
		<h3>Add a new API key</h3>
	</div>
	<div class="panel-body">
		<p>You can create a new API key with the (minimum) required access mask by following <a href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=0" target="_blank">this link</a>.</p>
		<form role="form-horizontal" id="apiKeyAdd">
			<div class="form-group">
				<label for="apiKeyID">Key ID</label>
				<input type="number" class="form-control" id="apiKeyID" name="apiKeyID" required="required" />
			</div>
			<div class="form-group">
				<label for="apivCode">Verification Code</label>
				<input type="text" class="form-control" id="apivCode" name="apivCode" required="required" />
			</div>
			<div class="form-group" align="center">
				<input type="hidden" name="command" value="apiKeyAdd" />
				<a class="btn btn-success api-key-add">Submit</a>
			</div>
		</form>
	</div>
</div>

<script src="/js/settingsapikeys.js"></script>
{{ template "footer" . }}
{{ end }}