{{ define "adminuserdetails" }}
{{ template "header" . }}
{{ template "navigation" . }}
{{ $csrfToken := .csrfToken }}
{{ $userID := .user.ID }}
<div class="panel panel-info">
	<div class="panel-heading">
		<h3>User Details - {{ .user.Username }}</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Username</th>
					<th>Email</th>
					<th>Default Character</th>
					<th># of Characters</th>
					<th># of Roles</th>
				</tr>
			</thead>
			<tbody>
				{{ $defaultCharacter := .user.GetDefaultCharacter }}
					<tr>
						<td>{{ .user.ID }}</td>
						<td>{{ .user.Username }}</td>
						<td>{{ .user.Email }}</td>
						<td>{{ if $defaultCharacter }} {{ $defaultCharacter.Name }} {{ else }} --- {{ end }}</td>
						<td>{{ .user.GetCharacterCount }}</td>
						<td>{{ .user.GetRoleCount }}</td>
					</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Groups</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th># of Roles</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{ range $group := .user.Groups }}
					<tr>
						<td>{{ $group.ID }}</td>
						<td>{{ $group.Name }}</td>
						<td>{{ $group.GetRoleCount }}</td>
						<td>{{ if $group.Active }} active {{ else }} inactive {{ end }}</td>
						<td><a class="btn btn-primary" href="/admin/group/{{ $group.ID }}">View</a>&nbsp;<a class="btn btn-danger admin-userdetails-group-delete" userID="{{ $userID }}" groupID="{{ $group.ID }}" csrfToken="{{ $csrfToken }}">Delete</a></td>
					</tr>
				{{ end }}
			</tbody>
		</table>
		<div align="center"><a class="btn btn-success" data-toggle="collapse" data-target="#adminUserDetailsAddGroup">Add</a></div>
	</div>
</div>
<div class="panel panel-success collapse" id="adminUserDetailsAddGroup">
	<div class="panel-heading">
		<h3>Add to group</h3>
	</div>
	<div class="panel-body">
		<form action="/admin/users" method="post">
			<div class="form-group">
				<label for="adminUserDetailsAddGroupGroup">Group</label>
				<select class="form-control" id="adminUserDetailsAddGroupGroup" name="adminUserDetailsAddGroupGroup" required="required">
					{{ range $group := .availableGroups }}
						<option value="{{ $group.ID }}">{{ $group.Name }}</option>
					{{ end }}
				</select>
			</div>
			<div class="form-group" align="center">
				<input type="hidden" name="command" value="adminUserDetailsAddGroup" />
				<input type="hidden" name="userID" value="{{ $userID }}" />
				<input type="hidden" name="csrfToken" value="{{ $csrfToken }}" />
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>User Roles</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Autoadded</th>
					<th>Granted</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{ range $role := .user.UserRoles }}
					<tr>
						<td>{{ $role.ID }}</td>
						<td>{{ $role.Role.Name }}</td>
						<td>{{ if $role.AutoAdded }} yes {{ else }} no {{ end }}</td>
						<td>{{ if $role.Granted }} yes {{ else }} no {{ end }}</td>
						<td><a class="btn btn-danger admin-userdetails-role-delete" userID="{{ $userID }}" roleID="{{ $role.ID }}" csrfToken="{{ $csrfToken }}">Delete</a></td>
					</tr>
				{{ end }}
			</tbody>
		</table>
		<div align="center"><a class="btn btn-success" data-toggle="collapse" data-target="#adminUserDetailsAddUserRole">Add</a></div>
	</div>
</div>
<div class="panel panel-success collapse" id="adminUserDetailsAddUserRole">
	<div class="panel-heading">
		<h3>Add user role</h3>
	</div>
	<div class="panel-body">
		<form action="/admin/users" method="post">
			<div class="form-group">
				<label for="adminUserDetailsAddGroupUserRole">User Role</label>
				<select class="form-control" id="adminUserDetailsAddGroupUserRole" name="adminUserDetailsAddGroupUserRole" required="required">
					{{ range $role := .availableUserRoles }}
						<option value="{{ $role.ID }}">{{ $role.Name }}</option>
					{{ end }}
				</select>
			</div>
			<div class="checkbox">
				<label>
					<input name="adminUserDetailsAddGroupUserRoleGranted" type="checkbox" checked /> <div data-toggle="tooltip" data-placement="right" title="Indicates whether the role should be granted or denied">Granted</div>
				</label>
			</div>
			<div class="form-group" align="center">
				<input type="hidden" name="command" value="adminUserDetailsAddGroupUserRole" />
				<input type="hidden" name="userID" value="{{ $userID }}" />
				<input type="hidden" name="csrfToken" value="{{ $csrfToken }}" />
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-success">
	<div class="panel-heading">
		<h3>Effective Roles</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{{ range $role := .user.GetEffectiveRoles }}
					<tr>
						<td>{{ $role.ID }}</td>
						<td>{{ $role.Name }}</td>
						<td>{{ if $role.Active }} active {{ else }} inactive {{ end }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Accounts</h3>
	</div>
	<div class="panel-body">
		{{ range $account := .user.Accounts }}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>API Key ID</th>
					<th>Access Mask</th>
					<th># of Characters</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ $account.ID }}</td>
					<td>{{ $account.APIKeyID }}</td>
					<td>{{ $account.APIAccessMask }}</td>
					<td>{{ $account.GetCharacterCount }}</td>
				</tr>
			</tbody>
		</table><br />
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Portrait</th>
					<th>Name</th>
					<th>Corporation</th>
					<th>EVE Character ID</th>
				</tr>
			</thead>
			{{ range $character := $account.Characters }}
			<tbody>
				<tr>
					<td>{{ $character.ID }}</td>
					<td style="width: 75px !important"><img src="{{ printf "https://image.eveonline.com/Character/%d_64.jpg" $character.EVECharacterID }}" alt="{{ $character.Name }}" /></td>
					<td>{{ $character.Name }}</td>
					<td>{{ QueryCorporationName $character.CorporationID }}</td>
					<td>{{ $character.EVECharacterID }}</td>
				</tr>
			</tbody>
			{{ end }}
		</table>
		<div align="center"><a class="btn btn-danger admin-userdetails-account-delete" userID="{{ $userID }}" accountID="{{ $account.ID }}" csrfToken="{{ $csrfToken }}">Delete</a></div>
		<hr style="width: 100%; color: black; height: 1px; background-color: black;" /><br />
		{{ end }}
	</div>
</div>

<script src="/js/adminuserdetails.js?md5={{ index .assetChecksums.Checksums "adminuserdetails.js" }}"></script>
{{ template "footer" . }}
{{ end }}