{{ define "adminroles" }}
{{ template "header" . }}
{{ template "navigation" . }}
<div class="panel panel-info">
	<div class="panel-heading">
		<h3>Manage roles</h3>
	</div>
	<div class="panel-body">
		<p>
			You can use this page to manage all roles currently added to eveauth. You can add new roles as well as delete them.
		</p>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Roles</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Status</th>
					<th>Locked</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{ $csrfToken := .csrfToken }}
				{{ range $role := .roles }}
					<tr>
						<td>{{ $role.ID }}</td>
						<td>{{ $role.Name }}</td>
						<td>{{ if $role.Active }} active {{ else }} inactive {{ end }}</td>
						<td>{{ if $role.Locked }} yes {{ else }} no {{ end }}</td>
						<td><a class="btn btn-danger admin-role-delete {{ if $role.Locked }} disabled {{ end }}" roleID="{{ $role.ID }}" csrfToken="{{ $csrfToken }}">Delete</a></td>
					</tr>
				{{ end }}
			</tbody>
		</table>
		<div align="center"><a class="btn btn-success" data-toggle="collapse" data-target="#adminRolesAdd" csrfToken="{{ $csrfToken }}">Add</a></div>
	</div>
</div>
<div class="panel panel-success collapse" id="adminRolesAdd">
	<div class="panel-heading">
		<h3>Add new role</h3>
	</div>
	<div class="panel-body">
		<form action="/admin/roles" method="post">
			<div class="form-group">
				<label for="adminRolesAddRoleName">Role Name</label>
				<input type="text" class="form-control" id="adminRolesAddRoleName" name="adminRolesAddRoleName" required="required" />
			</div>
			<div class="checkbox">
				<label>
					<input name="adminRolesAddLocked" type="checkbox" /> <div data-toggle="tooltip" data-placement="right" title="Prevents removal from role list">Locked</div>
				</label>
			</div>
			<div class="form-group" align="center">
				<input type="hidden" name="command" value="adminRolesAdd" />
				<input type="hidden" name="csrfToken" value="{{ $csrfToken }}" />
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>
</div>

<script src="/js/adminroles.js?md5={{ index .assetChecksums.Checksums "adminroles.js" }}"></script>
{{ template "footer" . }}
{{ end }}