{{ define "adminuserdetails" }}
{{ template "header" . }}
{{ template "navigation" . }}
{{ $csrfToken := .csrfToken }}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>User Details - {{ .user.Username }}</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Username</th>
					<th>Email</th>
					<th>Default Character</th>
					<th># of Characters</th>
					<th># of Roles</th>
				</tr>
			</thead>
			<tbody>
				{{ $defaultCharacter := .user.GetDefaultCharacter }}
					<tr>
						<td>{{ .user.ID }}</td>
						<td>{{ .user.Username }}</td>
						<td>{{ .user.Email }}</td>
						<td>{{ if $defaultCharacter }} {{ $defaultCharacter.Name }} {{ else }} --- {{ end }}</td>
						<td>{{ .user.GetCharacterCount }}</td>
						<td>{{ .user.GetRolesCount }}</td>
					</tr>
			</tbody>
		</table>
	</div>
</div>
{{ range $account := .user.Accounts }}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Account #{{ $account.ID }} - Key ID #{{ $account.APIKeyID }} - Access Mask {{ $account.APIAccessMask }}</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Portrait</th>
					<th>Name</th>
					<th>EVE Character ID</th>
					<th>Corporation ID</th>
				</tr>
			</thead>
			{{ range $character := $account.Characters }}
			<tbody>
				<tr>
					<td>{{ $character.ID }}</td>
					<td style="width: 75px !important"><img src="{{ printf "https://image.eveonline.com/Character/%d_64.jpg" $character.EVECharacterID }}" alt="{{ $character.Name }}" /></td>
					<td>{{ $character.Name }}</td>
					<td>{{ $character.EVECharacterID }}</td>
					<td>{{ $character.CorporationID }}</td>
				</tr>
			</tbody>
			{{ end }}
		</table>
	</div>
</div>
{{ end }}
{{ template "footer" . }}
{{ end }}