{{ define "login" }}
{{ template "header" . }}
{{ template "navigation" . }}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Login</h3>
	</div>
	<div class="panel-body">
		<form role="form-horizontal" action="/login" method="post">
			<div class="form-group">
				<label for="loginUsername">Username</label>
				<input type="text" class="form-control" id="loginUsername" name="username" placeholder="Enter Username" required="required" />
			</div>
			<div class="form-group">
				<label for="loginPassword">Password</label>
				<input type="password" class="form-control" id="loginPassword" name="password" placeholder="Enter Password" required="required" />
			</div>
			<div class="form-group" align="center">
				<input type="hidden" name="csrfToken" value="{{ .csrfToken }}" />
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
		<p>Don't have an account yet? <a href="/login/register">Click here to register!</a><br />
			Didn't receive your email verification link? <a href="/login/verify/resend">Click here to resend the link!</a><br />
			Forgot your password? <a href="/login/reset">Click here to reset your password!</a></p>
		</div>
	</div>
</div>
{{ template "footer" . }}
{{ end }}